/*NAVBAR STYLES*/

nav {
  width: 100%;
  background-color: #ffff;
  box-shadow: 0px 8px 5px 0px rgba(114,114,114,0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;

}

.header-link {
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.left-section p {
  font-weight: 700;
  font-size: 24px;
}

.middle-section {
  display: flex;
}

.middle-section p {
  font-size: 24px;
  font-weight: 700;
}

.right-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
}

.view-products-button {
  height: 50px;
  font-weight: 700;
  background-color: #FBF5DF;
  border: none;
  padding: 0px 10px;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.5);
  transition: 0.5s;
  cursor: pointer;

}

.view-products-button:hover {
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  transition: 0.5s;
}

/*BODY STYLES*/

main {
  padding: 80px;
  margin-top: 150px;
  margin-bottom: 100px;

  margin-left: auto;
  margin-right: auto;
}

.page-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.checkout-grid {
  display: grid;
  grid-template-columns: 1fr 550px;
  column-gap: 20px;

  align-items: start;
}

.cart-item-container {
  margin-bottom: 10px;
}

.cart-item-container,
.payment-summary {
  border: 3px solid #000;
  border-radius: 4px;
  padding: 18px;

  background-color: #ffff;
}

.payment-summary {
  padding-bottom: 20px;
}

.delivery-date {
  color: rgb(0, 118, 0);
  font-weight: 700;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 25px;
}

.cart-item-details-grid {
  display: grid;
  grid-template-columns: 150px 1fr 1fr;
  column-gap: 50px;
}

.product-image {
  max-width: 100%;
  max-height: 120px;

  margin-left: auto;
  margin-right: auto;
}

.product-name {
  font-weight: 700;
  margin-bottom: 8px;
}

.product-price {
  color: rgb(177, 39, 4);
  font-weight: 700;
  margin-bottom: 5px;
}

.product-quantity .link-primary {
  margin-left: 5px;
}

.quantity-input {
  width: 30px;
  display: none;
}

.save-quantity-link {
  display: none;
}

.is-editing-quantity .quantity-input {
  display: initial;
}

.is-editing-quantity .save-quantity-link {
  display: initial;
}

.is-editing-quantity .quantity-label {
  display: none;
}

.is-editing-quantity .update-quantity-link {
  display: none;
}

.link-primary {
  color: rgb(1, 124, 182);
}

.link-primary:hover {
  color: rgb(196, 80, 0);
  cursor: pointer;
}

.delivery-options-title {
  font-weight: 700;
  margin-bottom: 10px;
}

.delivery-option {
  display: grid;
  grid-template-columns: 24px 1fr;
  column-gap: 10px;
  
  margin-bottom: 12px;
  cursor: pointer;
}

.delivery-option-input {
  margin-left: 0px;
  cursor: pointer;
}

.delivery-option-date {
  color: rgb(0, 118, 0);
  font-weight: 500;
  margin-bottom: 3px;
}

.delivery-option-price {
  color: #000;
  font-size: 15px;
}

.payment-summary-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}

.payment-summary-row {
  display: grid;
  grid-template-columns: 1fr auto;

  font-size: 16px;
  margin-bottom: 15px;
}

.payment-summary-money {
  text-align: right;
}

.shipping-cost {
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(0, 118, 0);
}

.place-order-button {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
  margin: 20px 0px;

  font-size: 18px;
  font-weight: 600;

  background-color: #FBF5DF;
  border: none;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.5);
  transition: 0.5s;
  cursor: pointer;
}

.place-order-button:hover {
  transition: 0.5s;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

.button-disabled {
  pointer-events: none;
  opacity: 0.5;
}




